nav.navbar.navbar-default.navbar-top
  .navbar-header
    a.navbar-brand(href="/") Ask a Question
      //img(alt='Brand', src='...')
  p.navbar-text Sign In: 
  form.navbar-form.navbar-right(action="/login" method="POST")
    .form-group
      input.form-control(type='text' name="username" placeholder='Username')
      input.form-control(type='password' name="password" placeholder='Password')
      input.btn.btn-default(type='submit' value="Log In")